@font-face {
	font-family: Nunito;
	font-weight: normal;
	src: url(../fonts/Nunito-Regular.ttf);
}
@font-face {
	font-family: Nunito;
	font-weight: 700;
	src: url(../fonts/Nunito-Bold.ttf);
}
@font-face {
	font-family: Nunito;
	font-weight: 600;
	src: url(../fonts/Nunito-SemiBold.ttf);
}
@font-face {
	font-family: Nunito;
	font-weight: 300;
	src: url(../fonts/Nunito-Light.ttf);
}

* {
	margin: 0;
	padding: 0;
	font-family: Nunito;
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.swiper-slide {
	width: 100%;
	height: 100vh;
}

.slide-1 {
	background-color: #ff81a0;
}
.slide-1 .container {
	display: flex;
	justify-content: space-between;
	height: 90vh;
	padding: 5vh 8vh;
}
.slide-1 .container .text-1,
.slide-1 .container .text-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slide-1 .text-1 h1 {
	font-weight: 700;
	font-size: 100px;
	margin-bottom: 80px;
	color: #fff;
}
.slide-1 .text-1 h2,
.slide-1 .text-1 h3,
.slide-1 .text-1 h5 {
	color: #fff;
	margin-bottom: 5px;
}
.slide-1 .text-1 h2 {
	font-size: 35px;
	font-weight: 700;
}
.slide-1 .text-1 h3 {
	font-size: 30px;
	font-weight: normal;
}
.slide-1 .text-1 h5 {
	font-size: 25px;
	font-weight: 300;
}
.slide-1 .text-2 h1 {
	font-weight: 300;
	font-size: 60px;
	margin-bottom: 80px;
	color: rgba(255, 255, 255, 0.5);
	writing-mode: tb-rl;
}

.slide-2 {
	background-color: #ffe69a;
}
.slide-2 .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 80vh;
	padding: 10vh 10vw;
}
.slide-2 .side-1 {
	width: 20vw;
}
.slide-2 .side-2 {
	width: 20vw;
}
.slide-2 .item-1 {
	margin-bottom: 10vh;
}
.slide-2 .item-2 {
	margin-top: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.slide-2 .item-1 h2,
.slide-2 .item-2 h2 {
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 5px;
}
.slide-2 .item-1 p {
	font-size: 25px;
	margin-bottom: 5px;
	line-height: 30px;
}
.slide-2 .item-2 h5 {
	font-family: Nunito;
	font-weight: normal;
	font-size: 25px;
	margin-bottom: 8px;
	text-align: right;
}

.slide-3 {
	background-color: #9cbf9d;
}
.slide-3 .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 90vh;
	padding: 5vh 10vw;
}
.slide-3 .container h1 {
	font-family: Nunito;
	font-weight: 700;
	font-size: 50px;
	margin-bottom: 8px;
	color: #fff;
}
.slide-3 .container h3 {
	font-family: Nunito;
	font-weight: 300;
	text-align: center;
	margin-bottom: 8px;
	font-size: 30px;
	color: #fff;
}
.slide-3 .container h4 {
	font-family: Nunito;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
	font-size: 20px;
	color: #fff;
}
.slide-3 .container div img {
	width: 30vw;
	margin: 0 25vw;
}

.slide-4 {
	background-color: #fafbdc;
}
.slide-4 .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 90vh;
	padding: 0 5vw;
}
.slide-4 .container h1 {
	font-size: 50px;
	font-weight: 700;
	writing-mode: tb-rl;
}
.slide-4 .container div {
	padding: 0 8vw;
}
.slide-4 .container h3 {
	font-size: 22px;
	font-weight: normal;
	margin-bottom: 20px;
}
.slide-4 .container div img {
	width: 30vw;
}

.slide-5 {
	background-color: #6f9b9f;
}
.slide-5 .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 94vh;
	padding: 3vh 3vw;
}
.slide-5 .container .item-1 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.slide-5 .container .item-2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.slide-5 .container .item-2 h2 {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 400;
	color: #fff;
}
.slide-5 .container .item-2 img {
	margin-bottom: 15px;
}
.slide-5 .container h1 {
	font-size: 45px;
	font-weight: 700;
	color: #fff;
}

.slide-6 {
	background-color: #ffe69a;
}
.slide-6 .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
.slide-6 .container h1 {
	font-size: 70px;
	font-weight: 700;
	margin-bottom: 10px;
}
.slide-6 .container h2 {
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 50px;
}

.slide-7 {
	background-color: #ff81a0;
}
.slide-7 .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 94vh;
	padding: 3vh 3vw;
}
.slide-7 .container .item-1 {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}
.slide-7 .container .item-2 {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 60vw;
	padding: 0 20vw;
}
.slide-7 .container .item-2 h2 {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 400;
	color: #fff;
}
.slide-7 .container .item-2 img {
	margin-bottom: 15px;
}
.slide-7 .container h1 {
	font-size: 45px;
	font-weight: 700;
	color: #fff;
}
.slide-7 .container h2 {
	font-size: 30px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
}
.slide-7 .container h4 {
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.slide-7 .container h5 {
	font-size: 25px;
	font-weight: normal;
	color: #fff;
	text-align: center;
	margin-bottom: 10px;
}
.slide-7 .container h5 span {
	font-size: 15px;
}
.slide-7 .container .table {
	width: 800px;
}
.slide-7 .container .rumus-1 {
	width: 400px;
}
.slide-7 .container .rumus-2 {
	width: 600px;
}

.slide-8 {
	background-color: #ff81a0;
}
.slide-8 .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	height: 100vh;
}
.slide-8 .side-1 {
	height: 54px;
	width: 100%;
	background-image: url(../img/putih-1.png);
}
.slide-8 .side-2 {
	height: 54px;
	width: 100%;
	background-image: url(../img/putih-2.png);
}
.slide-8 .item {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 108px);
	align-items: center;
	justify-content: center;
	width: 100%;
}
.slide-8 .item h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

.icon {
	opacity: 0.5;
}
